In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Purchase_Data.csv"

# Read purchasing file and store into pandas data frame
Purchase_Data = pd.read_csv(file_to_load)
Purchase_Data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
# Calculate the number of unique Players in the DataFrame using their SNs
Players_Count = len(Purchase_Data["SN"].unique())

#Player Count: Display the total number of Players
Players = {"Total Players": (Players_Count)}
Total_Players = pd.DataFrame(Players, index=[0])
Total_Players.head()

   Total Players
0            576

In [3]:
# Purchasing Analysis (Total)

#Number of Unique Items
Items_Count = len(Purchase_Data["Item ID"].unique())

#Average Purchase Price
Average_Purchase_Price = round(Purchase_Data["Price"].mean(), 2)

#Total Number of Purchases
Purchase_Count = Purchase_Data["Purchase ID"].count()

#Total Revenue
Total_Revenue = round(Purchase_Data["Price"].sum(), 2)

#Defining Purchasing_Analysis
Purchasing_Analysis_T = []

#Appending $ value to list
Purchasing_Analysis_T.append(Items_Count)
Purchasing_Analysis_T.append("$" + str(Average_Purchase_Price))
Purchasing_Analysis_T.append(Purchase_Count)
Purchasing_Analysis_T.append("$" + str(Total_Revenue))

#Place all of the derived/calculated data into a summary DataFrame
pd.DataFrame([Purchasing_Analysis_T], columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

#Note1: Give displayed data in cleaner formatting

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [4]:
# Gender Demographics

#Counting unique "Gender Values" in column
Gender_Count = Purchase_Data["Gender"].value_counts()

#Calculating the Percentage of Players by Gender
Percentage_of_Players = round((Purchase_Data["Gender"].value_counts() / (Purchase_Data["Gender"].count())) * 100, 2)

Gender_Demographics = pd.DataFrame({"Percentage of Players": Percentage_of_Players, "Total Count": Gender_Count})
Gender_Demographics.index = (["Male", "Female", "Other / Non-Disclosed"])
Gender_Demographics

                       Percentage of Players  Total Count
Male                                   83.59          652
Female                                 14.49          113
Other / Non-Disclosed                   1.92           15

In [5]:
# Purchasing Analysis (Gender)

#Calculating 'Purchase Count' by Gender
Purchase_Count_G = Purchase_Data.groupby("Gender")
Total_Purchase_Count = Purchase_Count_G["SN"].count()

#Calculating Average Purchase Price by Gender
Average_Purchase_Price = round(Purchase_Count_G["Price"].mean(), 2)

#Calculating Total Purchase Value by Gender
Total_Gender_Purchase = round(Purchase_Count_G["Price"].sum(), 2)

#Creating a DataFrame & setting index
Purchasing_Analysis_G = pd.DataFrame({
    "Purchase Count": Total_Purchase_Count,
    "Average Purchase Price": Average_Purchase_Price,
    "Total Purchase Value": Total_Gender_Purchase,
})
#Purchasing_Analysis_G.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})
Purchasing_Analysis_G.index = (["Male", "Female", "Other / Non-Disclosed"])
Purchasing_Analysis_G

#Note1: Add $ Value to respective columns

,Purchase Count,Average Purchase Price,Total Purchase Value
Male,113,3.20,361.94
Female,652,3.02,1967.64
Other / Non-Disclosed,15,3.35,50.19

In [6]:
# Age Demographics

Age_Demo = Purchase_Data[["SN","Age"]]
Age_Demo = Age_Demo.drop_duplicates()

#Calculating number of Players per Age group
Age_10 = Age_Demo[Age_Demo["Age"] < 10].count()[0]
Age_14 = Age_Demo[(Age_Demo["Age"] >= 10) & (Age_Demo["Age"] <= 14)].count()[0]
Age_19 = Age_Demo[(Age_Demo["Age"] >= 15) & (Age_Demo["Age"] <= 19)].count()[0]
Age_24 = Age_Demo[(Age_Demo["Age"] >= 20) & (Age_Demo["Age"] <= 24)].count()[0]
Age_29 = Age_Demo[(Age_Demo["Age"] >= 25) & (Age_Demo["Age"] <= 29)].count()[0]
Age_34 = Age_Demo[(Age_Demo["Age"] >= 30) & (Age_Demo["Age"] <= 34)].count()[0]
Age_39 = Age_Demo[(Age_Demo["Age"] >= 35) & (Age_Demo["Age"] <= 39)].count()[0]
Age_40 = Age_Demo[Age_Demo["Age"] >= 40].count()[0]
Ages = [Age_10, Age_14, Age_19, Age_24, Age_29, Age_34, Age_39, Age_40]

#Calculating Percentage of Players
Percent_10 = round((Age_10/Players_Count)*100,2)
Percent_14 = round((Age_14/Players_Count)*100,2)
Percent_19 = round((Age_19/Players_Count)*100,2)
Percent_24 = round((Age_24/Players_Count)*100,2)
Percent_29 = round((Age_29/Players_Count)*100,2)
Percent_34 = round((Age_34/Players_Count)*100,2)
Percent_39 = round((Age_39/Players_Count)*100,2)
Percent_40 = round((Age_40/Players_Count)*100,2)
Percents = [Percent_10, Percent_14, Percent_19, Percent_24, Percent_29, Percent_34, Percent_39, Percent_40]

#Putting data into a dictionary
Age_Demographic = {
        "Percentage of Players": Percents,
        "Total Count": Ages
    }
    
# Creating a DataFrame & setting index
Age_Demographics_df = pd.DataFrame(Age_Demographic)
Age_Demographics_df.index = (["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"])
Age_Demographics_df

       Percentage of Players  Total Count
<10                     2.95           17
10-14                   3.82           22
15-19                  18.58          107
20-24                  44.79          258
25-29                  13.37           77
30-34                   9.03           52
35-39                   5.38           31
40+                     2.08           12

In [7]:
# Puchasing Analysis (Age)

#Calculating Purchase Count
Purchase_Count_14 = Purchase_Data[(Purchase_Data["Age"] >= 10) & (Purchase_Data["Age"] <= 14)].count()[0]
Purchase_Count_19 = Purchase_Data[(Purchase_Data["Age"] >= 15) & (Purchase_Data["Age"] <= 19)].count()[0]
Purchase_Count_24 = Purchase_Data[(Purchase_Data["Age"] >= 20) & (Purchase_Data["Age"] <= 24)].count()[0]
Purchase_Count_29 = Purchase_Data[(Purchase_Data["Age"] >= 25) & (Purchase_Data["Age"] <= 29)].count()[0]
Purchase_Count_34 = Purchase_Data[(Purchase_Data["Age"] >= 30) & (Purchase_Data["Age"] <= 34)].count()[0]
Purchase_Count_39 = Purchase_Data[(Purchase_Data["Age"] >= 35) & (Purchase_Data["Age"] <= 39)].count()[0]
Purchase_Count_40 = Purchase_Data[Purchase_Data["Age"] >= 40].count()[0]
Purchase_Count_10 = Purchase_Data[Purchase_Data["Age"] < 10].count()[0]
Purchase_Count = [Purchase_Count_14, Purchase_Count_19, Purchase_Count_24, Purchase_Count_29, Purchase_Count_34, Purchase_Count_39, Purchase_Count_40, Purchase_Count_10]

#Calculating Total Purchase Value
Total_Purchase_Value_14 = Purchase_Data.loc[(Purchase_Data["Age"] >= 10) & (Purchase_Data["Age"] <=14), "Price"].sum()
Total_Purchase_Value_19 = Purchase_Data.loc[(Purchase_Data["Age"] >= 15) & (Purchase_Data["Age"] <=19), "Price"].sum()
Total_Purchase_Value_24 = Purchase_Data.loc[(Purchase_Data["Age"] >= 20) & (Purchase_Data["Age"] <=24), "Price"].sum()
Total_Purchase_Value_29 = Purchase_Data.loc[(Purchase_Data["Age"] >= 25) & (Purchase_Data["Age"] <=29), "Price"].sum()
Total_Purchase_Value_34 = Purchase_Data.loc[(Purchase_Data["Age"] >= 30) & (Purchase_Data["Age"] <=34), "Price"].sum()
Total_Purchase_Value_39 = Purchase_Data.loc[(Purchase_Data["Age"] >= 35) & (Purchase_Data["Age"] <=39), "Price"].sum()
Total_Purchase_Value_40 = Purchase_Data.loc[Purchase_Data["Age"] >= 40, "Price"].sum()
Total_Purchase_Value_10 = Purchase_Data.loc[Purchase_Data["Age"] < 10, "Price"].sum()
Total_Purchase_Value = [Total_Purchase_Value_14, Total_Purchase_Value_19, Total_Purchase_Value_24, Total_Purchase_Value_29, Total_Purchase_Value_34, Total_Purchase_Value_39, Total_Purchase_Value_40, Total_Purchase_Value_10]

#Calculating Average Purchase Price
Average_Purchase_Price = [Total_Purchase_Value_14/Purchase_Count_14, Total_Purchase_Value_19/Purchase_Count_19, Total_Purchase_Value_24/Purchase_Count_24, Total_Purchase_Value_29/Purchase_Count_29,
              Total_Purchase_Value_34/Purchase_Count_34, Total_Purchase_Value_39/Purchase_Count_39, Total_Purchase_Value_40/Purchase_Count_40, Total_Purchase_Value_10/Purchase_Count_10]

#Calculating Average Purchase Total Per Person
Average_Purchase_Total_per_Person = [Total_Purchase_Value_14/Age_14, Total_Purchase_Value_19/Age_19, Total_Purchase_Value_24/Age_24, Total_Purchase_Value_29/Age_29, Total_Purchase_Value_34/Age_34,
           Total_Purchase_Value_39/Age_39, Total_Purchase_Value_40/Age_40, Total_Purchase_Value_10/Age_10]

#Putting data into a dictionary
Purchasing_Analysis = {
    "Purchase Count": Purchase_Count,
    "Average Purchase Price": Average_Purchase_Price,
    "Total Purchase Value": Total_Purchase_Value,
    "Average Purchase Total Per Person": Average_Purchase_Total_per_Person
}

#Creating a DataFrame & setting index
Purchasing_Analysis_A = pd.DataFrame(Purchasing_Analysis)
Purchasing_Analysis_A = Purchasing_Analysis_A[["Purchase Count", "Average Purchase Price", "Total Purchase Value",
                                                 "Average Purchase Total Per Person"]]
Purchasing_Analysis_A.index = (["<10", "10-14","15-19","20-24","25-29","30-34","34-39","40+"])
Rounding_PAA = pd.Series([0, 2, 0, 2], index=["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Average Purchase Total Per Person"])
Purchasing_Analysis_A.round(Rounding_PAA)
#Purchasing_Analysis_A
#Note1: Add $ Value to respective columns values

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
<10,28,2.96,83.0,3.76
10-14,136,3.04,413.0,3.86
15-19,365,3.05,1114.0,4.32
20-24,101,2.90,293.0,3.81
25-29,73,2.93,214.0,4.12
30-34,41,3.60,148.0,4.76
34-39,13,2.94,38.0,3.19
40+,23,3.35,77.0,4.54

In [8]:
# Top Spenders

TS = Purchase_Data[["SN","Price","Item Name"]]
Total_Amount_Spent = TS.groupby("SN").sum()
Total_Amount_Spent.sort_values(by = "Price", ascending = False, inplace = True)

# Top Spender SN
TS_Names = list(Total_Amount_Spent.index.values)
Top_Names = [TS_Names[0],TS_Names[1],TS_Names[2],TS_Names[3],TS_Names[4]]

#Calculating Total Purchase Value
Total_Purchase_Value_1 = Total_Amount_Spent.iloc[0,0]
Total_Purchase_Value_2 = Total_Amount_Spent.iloc[1,0]
Total_Purchase_Value_3 = Total_Amount_Spent.iloc[2,0]
Total_Purchase_Value_4 = Total_Amount_Spent.iloc[3,0]
Total_Purchase_Value_5 = Total_Amount_Spent.iloc[4,0]
Total_Purchase_Values = [Total_Amount_Spent.iloc[0,0], Total_Amount_Spent.iloc[1,0], Total_Amount_Spent.iloc[2,0], Total_Amount_Spent.iloc[3,0],
                      Total_Amount_Spent.iloc[4,0]]

#Calculating Purchase Counts
TS_Purchase_Count_1 = TS[TS["SN"] == TS_Names[0]].count()[0]
TS_Purchase_Count_2 = TS[TS["SN"] == TS_Names[1]].count()[0]
TS_Purchase_Count_3 = TS[TS["SN"] == TS_Names[2]].count()[0]
TS_Purchase_Count_4 = TS[TS["SN"] == TS_Names[3]].count()[0]
TS_Purchase_Count_5 = TS[TS["SN"] == TS_Names[4]].count()[0]
TS_Purchase_Counts = [TS_Purchase_Count_1, TS_Purchase_Count_2, TS_Purchase_Count_3, TS_Purchase_Count_4,
                       TS_Purchase_Count_5]

#Calculating Average Purchase Prices
Average_Purchase_Price_1 = Total_Purchase_Value_1/TS_Purchase_Count_1
Average_Purchase_Price_2 = Total_Purchase_Value_2/TS_Purchase_Count_2
Average_Purchase_Price_3 = Total_Purchase_Value_3/TS_Purchase_Count_3
Average_Purchase_Price_4 = Total_Purchase_Value_4/TS_Purchase_Count_4
Average_Purchase_Price_5 = Total_Purchase_Value_5/TS_Purchase_Count_5
Average_Purchase_Prices = [Average_Purchase_Price_1, Average_Purchase_Price_2, Average_Purchase_Price_3, Average_Purchase_Price_4, Average_Purchase_Price_5]

#Putting data into a dictionary
TS = {
    "Purchase Count": TS_Purchase_Counts,
    "Average Purchase Price": Average_Purchase_Prices,
    "Total Purchase Value": Total_Purchase_Values,
    "SN": Top_Names
}

#Creating a DataFrame & setting index
Top_Spenders = pd.DataFrame(TS)
Top_Spenders = Top_Spenders.set_index("SN")
Top_Spenders = Top_Spenders[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
Rounding_TS = pd.Series([0, 2, 0], index=["Purchase Count", "Average Purchase Price", "Total Purchase Value"])
Top_Spenders.round(Rounding_TS)
#Note1: Add $ Value to respective columns values

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                  19.0
Idastidru52               4                    3.86                  15.0
Chamjask73                3                    4.61                  14.0
Iral74                    4                    3.40                  14.0
Iskadarya95               3                    4.37                  13.0

In [9]:
# Most Popular Items

MPI = Purchase_Data[["Item ID", "Item Name", "Price"]]
Popular_Items = MPI.groupby("Item ID").count()
Popular_Items.sort_values(by = "Item Name", ascending = False, inplace = True)
MPI = MPI.drop_duplicates(["Item ID", "Item Name"])

#Finding Popular Item IDs
Item_IDs = [Popular_Items.index[0], Popular_Items.index[1], Popular_Items.index[2], Popular_Items.index[3], Popular_Items.index[4]]

#Finding Item Names
Popular_Item_Name_1 = MPI.loc[MPI["Item ID"] == Item_IDs[0], "Item Name"].item()
Popular_Item_Name_2 = MPI.loc[MPI["Item ID"] == Item_IDs[1], "Item Name"].item()
Popular_Item_Name_3 = MPI.loc[MPI["Item ID"] == Item_IDs[2], "Item Name"].item()
Popular_Item_Name_4 = MPI.loc[MPI["Item ID"] == Item_IDs[3], "Item Name"].item()
Popular_Item_Name_5 = MPI.loc[MPI["Item ID"] == Item_IDs[4], "Item Name"].item()
Popular_Item_Names = [Popular_Item_Name_1, Popular_Item_Name_2, Popular_Item_Name_3, Popular_Item_Name_4, Popular_Item_Name_5]

#Calculating Purchase Count per Popular Item
Popular_Item_Counts = [Popular_Items.iloc[0,0], Popular_Items.iloc[1,0], Popular_Items.iloc[2,0], Popular_Items.iloc[3,0], Popular_Items.iloc[4,0]]

#Calculating Popular Item Prices
Item_Price_1 = MPI.loc[MPI["Item Name"] == Popular_Item_Names[0], "Price"].item()
Item_Price_2 = MPI.loc[MPI["Item Name"] == Popular_Item_Names[1], "Price"].item()
Item_Price_3 = MPI.loc[MPI["Item Name"] == Popular_Item_Names[2], "Price"].item()
Item_Price_4 = MPI.loc[MPI["Item Name"] == Popular_Item_Names[3], "Price"].item()
Item_Price_5 = MPI.loc[MPI["Item Name"] == Popular_Item_Names[4], "Price"].item()
Item_Prices = [Item_Price_1,Item_Price_2,Item_Price_3,Item_Price_4,Item_Price_5]

#Calculating Total Popular Items Purchase Value
Total_Purchase_Values = [Popular_Items.iloc[0,0]*Item_Price_1, Popular_Items.iloc[1,0]*Item_Price_2, Popular_Items.iloc[2,0]*Item_Price_3, 
                Popular_Items.iloc[3,0]*Item_Price_4, Popular_Items.iloc[4,0]*Item_Price_5]

#Creating a DataFrame & setting index
Most_Popular_Items = pd.DataFrame({
    "Item ID": Item_IDs,
    "Item Name": Popular_Item_Names,
    "Purchase Count": Popular_Item_Counts,
    "Item Price": Item_Prices,
    "Total Purchase Value": Total_Purchase_Values
})
Most_Popular_Items = Most_Popular_Items.set_index(["Item ID", "Item Name"])
Most_Popular_Items = Most_Popular_Items[["Purchase Count", "Item Price", "Total Purchase Value"]]
Most_Popular_Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [10]:
# Most Profitable Items

MPfI = Purchase_Data[["Item ID", "Item Name", "Price"]]
Profitable_Items = MPfI.groupby("Item ID").sum()
Profitable_Items.sort_values(by = "Price", ascending = False, inplace = True)
MPfI = MPfI.drop_duplicates(["Item ID", "Price"])

#Finding Popular Item IDs
Item_IDs = [Profitable_Items.index[0], Profitable_Items.index[1], Profitable_Items.index[2], Profitable_Items.index[3], Profitable_Items.index[4]]

#Finding Item Names
Profitable_Item_Name_1 = MPfI.loc[MPfI["Item ID"] == Item_IDs[0], "Item Name"].item()
Profitable_Item_Name_2 = MPfI.loc[MPfI["Item ID"] == Item_IDs[1], "Item Name"].item()
Profitable_Item_Name_3 = MPfI.loc[MPfI["Item ID"] == Item_IDs[2], "Item Name"].item()
Profitable_Item_Name_4 = MPfI.loc[MPfI["Item ID"] == Item_IDs[3], "Item Name"].item()
Profitable_Item_Name_5 = MPfI.loc[MPfI["Item ID"] == Item_IDs[4], "Item Name"].item()
Profitable_Item_Names = [Profitable_Item_Name_1, Profitable_Item_Name_2, Profitable_Item_Name_3, Profitable_Item_Name_4, Profitable_Item_Name_5]

#Calculating Purchase Value per Profitable Item
Total_Purchase_Values = [Profitable_Items.iloc[0,0], Profitable_Items.iloc[1,0], Profitable_Items.iloc[2,0], Profitable_Items.iloc[3,0], Profitable_Items.iloc[4,0]]

#Calculating Profitable Item Prices
Item_Price_1 = MPfI.loc[MPfI["Item ID"] == Item_IDs[0], "Price"].item()
Item_Price_2 = MPfI.loc[MPfI["Item ID"] == Item_IDs[1], "Price"].item()
Item_Price_3 = MPfI.loc[MPfI["Item ID"] == Item_IDs[2], "Price"].item()
Item_Price_4 = MPfI.loc[MPfI["Item ID"] == Item_IDs[3], "Price"].item()
Item_Price_5 = MPfI.loc[MPfI["Item ID"] == Item_IDs[4], "Price"].item()
Item_Prices = [Item_Price_1, Item_Price_2, Item_Price_3, Item_Price_4, Item_Price_5]

#Calculating Purchase Count per Profitable Item
MPfI_Purchase_Count = Purchase_Data[["Item ID", "Item Name", "Price"]].groupby("Item Name").count()
Profitable_Item_Count_1 = MPfI_Purchase_Count.loc[MPfI_Purchase_Count.index == Profitable_Item_Names[0], "Item ID"].item()
Profitable_Item_Count_2 = MPfI_Purchase_Count.loc[MPfI_Purchase_Count.index == Profitable_Item_Names[1], "Item ID"].item()
Profitable_Item_Count_3 = MPfI_Purchase_Count.loc[MPfI_Purchase_Count.index == Profitable_Item_Names[2], "Item ID"].item()
Profitable_Item_Count_4 = MPfI_Purchase_Count.loc[MPfI_Purchase_Count.index == Profitable_Item_Names[3], "Item ID"].item()
Profitable_Item_Count_5 = MPfI_Purchase_Count.loc[MPfI_Purchase_Count.index == Profitable_Item_Names[4], "Item ID"].item()
Profitable_Item_Counts = [Profitable_Item_Count_1, Profitable_Item_Count_2, Profitable_Item_Count_3, Profitable_Item_Count_4, Profitable_Item_Count_5]

#Creating a DataFrame & setting index
Most_Profitable_Items = pd.DataFrame({
    "Item ID": Item_IDs,
    "Item Name": Profitable_Item_Names,
    "Purchase Count": Profitable_Item_Counts,
    "Item Price": Item_Prices,
    "Total Purchase Value": Total_Purchase_Values
})
Most_Profitable_Items = Most_Profitable_Items.set_index(["Item ID", "Item Name"])
Most_Profitable_Items = Most_Profitable_Items[["Purchase Count", "Item Price", "Total Purchase Value"]]
Most_Profitable_Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,13,4.88,39.04
103,Singed Scalpel,8,4.35,34.80